@page
@model ASPtest.Pages.Restaurants.ListModel
@{
    ViewData["Title"] = "Restaurant List";
}
@*Razor Page is strictly about displaying*@
<h1>Restaurant</h1>
@* When switching to writing in C sharp we can use the at thingy *@

<form  method="get"> @* If we dont include action ="" then we say "the link you're on is receiving the request"*@
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" asp-for="SearchTerm"/> @*asp-for: Allows us to use and display search termThis input is for the following thing that you can find in the model*@
         
                <button>
                   <span class="glyphicon glyphicon-search"></span> @*cant find glyphicons*@
                    Search
                </button>
      
        </div>
    </div>
</form>

<div class="questiondiv panel panel-default">
    <h4 style="margin-left:auto; margin-right:auto">What kinds of pizzas do you like?</h4>
    <p>Tell us in this short, 1 question quiz!</p>
    <a class="btn btn-lg" style="background-color: darkblue; color:lightblue" href="/Restaurants/Pizza" > 
                    <i class="glyphicon glyphicon-zoom-in"></i>
                </a>
</div>


@*<table class="table">
    @foreach(var restaurant in Model.Restaurants)
    {
        <tr>
            <td>
                @restaurant.Name
            </td>
            <td>
                @restaurant.Location
            </td>
            /* This doesnt work with our detail page anymore because the way we link it has been changed, but im keeping it in just so you know
            <td>
                <a class="btn btn-lg" style="background-color:burlywood" href="/Restaurants/Details?restaurantId=@restaurant.Id"> 
                    <i class="glyphicon glyphicon-zoom-in"> Link 1</i>
                </a>
            </td>
            */
            <td>
                <a class="btn btn-lg" style="background-color: cornflowerblue; color:white" asp-page="./Details" asp-route-restaurantId="@restaurant.Id"> 
                    <i class="glyphicon glyphicon-zoom-in"></i>
                </a>
                <a class="btn btn-lg" style="background-color: cornsilk" asp-page="./Edit" asp-route-restaurantId="@restaurant.Id"> 
                    <i class="glyphicon glyphicon-pencil"></i>
                </a>
                <a class="btn btn-lg" style="color: coral" asp-page="./Delete" asp-route-restaurantId="@restaurant.Id"> 
                    <i class="glyphicon glyphicon-remove"></i>
                </a>
            </td>
        </tr>
    }
</table>
*@

@foreach(var restaurant in Model.Restaurants)
{
    <partial name ="_Summary" model="restaurant"/>
}
<a asp-page=".\Create" class="btn btn-secondary" style="margin-bottom:100px">Add new Restaurant</a>
@if (TempData["DeletedMessage"] != null)
{
    <div class="alert alert-info">@TempData["DeletedMessage"]</div> @*There is a different way to do this but i want to eat lunch now*@
}

@section footer{
    <div class="container pleadingtext">Stop killing kids, please. Im running out of pizzaria names</div>
}

@*style tag - Define styles in them: Probably better to use separate file for this*@
 <style type="text/css"> 
    .pleadingtext 
    { margin-left: auto; margin-right:auto; display:block; color:darkred; }    
    </style>

    <style type="text/css">
    .questiondiv{
        background-color:skyblue; 
        text-align:center; 
        float: left;
        margin-left: -20em;
        padding:3px;
        width:15em;
        border-radius:10px;
    }    
    </style>
@*Here we are getting the Message defined in List.cshtml.cs (Our Model)
<div>
<br/>
@Model.NewMessage</div>*@